[include]
  path = ~/.git-personal.conf
[includeIf "hasconfig:remote.*.url:https://github.com/emqx/*"]
  path = ~/.git-work.conf
[includeIf "hasconfig:remote.*.url:git@github.com:emqx/*"]
  path = ~/.git-work.conf
[user]
	name = Ivan Dyachkov

[alias]
	co = checkout
	st = status
	br = branch
  l = log --all --decorate --graph --abbrev-commit --date=relative --format=format:'%C(auto)%h%C(reset) - %C(green)(%ar)%C(reset) %s %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  ll = log --all --decorate --graph --abbrev-commit --format=format:'%C(auto)%h%C(reset) - %C(green)(%ad)%C(reset) %s %C(dim white)- %an <%ae>%C(reset)%C(auto)%d%C(reset)'
  lg = log --decorate --abbrev-commit --format=format:'%C(yellow)%h%C(reset) - %C(green)(%ad)%C(reset) %s %C(dim white)- %an <%ae>%C(reset)%C(auto)%d%C(reset)'
  ls = ls-files
	type = cat-file -t
	dump = cat-file -p
	added = whatchanged --diff-filter=A --format=format:'%h %ad | %s%d [%an]'
  uncommit = reset --soft HEAD^
[color]
	diff = auto
	ui = auto
	status = auto
[rerere]
	enabled = 1
	autoUpdate = true
[core]
	abbrev = 8
[push]
	default = matching
[pull]
	rebase = false
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[diff]
  colorMoved = true
	algorithm = histogram
[commit]
	template = ~/.gitcommitmsg.txt
[credential]
	helper = store
[help]
  autocorrect = 1
[alias]
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
  show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
[branch]
	sort = -committerdate
[tag]
	sort = -version:refname
[merge]
	conflictstyle = diff3
[rebase]
	autosquash = true
[fetch]
	prune = true
[log]
	date = iso
