[user]
	name = Ivan Dyachkov
	email = ivan.dyachkov@klarna.com

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --graph --date=short --all --decorate --oneline
	l = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
	type = cat-file -t
	dump = cat-file -p
	added = whatchanged --diff-filter=A --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
[color]
	diff = auto
	ui = auto
	status = auto
[rerere]
	enabled = 1
[core]
	abbrev = 8
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
